.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 1rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.heading {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 1rem;
}

.heading h1 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
  color: #f9f9f9;
}

.heading h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0 0 1.5rem 0;
  
}

button {
  margin: 1rem;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #FF8C00;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s;
}

button:hover {
  background-color: #FF7000;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error {
  color: #ff3333;
  margin: 1rem;
  padding: 1rem;
  background-color: #ffeeee;
  border-radius: 5px;
}

.loading {
  padding: 2rem;
  font-size: 1.2rem;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.seen-list {
  background: rgba(255,255,255,0.1);
  padding: 1rem;
  border-radius: 10px;
  text-align: left;
  height: 500px;
  overflow-y: scroll;
}

.seen-list h2 {
  margin-top: 0;
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  padding-bottom: 0.5rem;
  z-index: 1;
}

.seen-list ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.seen-list li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background: rgba(255,255,255,0.1);
  border-radius: 5px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.cat-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.cat-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: #333;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cat-card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.cat-info {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.attribute-btn {
  background-color: #8d6612f0;
  box-shadow: 0 3px #7e4b0d;
  color: white;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 8px;
  font-size: 1rem;
  display: block;
  width: 100%;
  margin: 0.25rem 0;
  font-weight: bold;
}

.attribute-btn:hover {
  background-color: #b55b17;
}

.attribute-btn.banned {
  background-color: #ff6b6b;
  color: white;
}

.attribute-btn.banned:hover {
  background-color: #ff5252;
}

.ban-list {
  background: rgba(255,255,255,0.1);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}

.ban-list h2 {
  margin-top: 0;
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  padding-bottom: 0.5rem;
  z-index: 1;
}

.ban-list h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
  position: sticky;
  top: 2.3rem;
  z-index: 1;
}

.current-bans {
  margin-top: 1rem;
}

.ban-item {
  background: #ff6b6b;
  color: white;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 0.9rem;
  text-align: center;
  border: none;
  font-weight: bold;
}

.ban-item:hover {
  background: #ff5252;
}

.seen-list-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
  }
  
  .seen-list, .ban-list {
    width: 100%;
    margin-left: 0;
    height: 300px;
  }
  
  .cat-card {
    max-width: 100%;
  }
  
  .cat-card img {
    width: 100%;
    height: auto;
    max-height: 300px;
  }
}

